@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

$color-primary: #a63a50;
$color-secondary: #bfd7ea;
$color-tertiary: #999999;
$color-background: #fefffe;
$base-duration: 300ms;
$base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: $color-background;
}

h3,
a {
  font-size: 1.1em;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    height: 20vh;
    width: 20vh;
    background-color: $color-primary;
  }

  &__slider {
    height: 5vh;
    width: 80vw;
    max-width: 300px;
    margin: 10vh 0 5vh 0;
    display: flex;
    justify-content: space-between;
    color: $color-tertiary;
    overflow: hidden;
  }
  &__button {
    display: block;
    width: 80vw;
    max-width: 300px;
    height: 5vh;
    line-height: 5vh;
    background: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid $color-tertiary;
    color: $color-tertiary;
  }
}

.slider {
  &__button {
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    fill: $color-tertiary;
    border: none;
    &--previous {
      transform: rotate(180deg);
    }
    & .icon {
      height: 100%;
    }
  }
  &__wrapper {
    list-style: none;
    position: relative;
    width: 50vw;
  }
}

.slide {
  position: absolute;
  width: 50%;
  text-align: center;
  left: 50%;
  top: 50%;
  opacity: 0;
  transition: all $base-duration $base-ease;
  z-index: -1;
  transform: translate(-50%, -50%);
  &--previous {
    opacity: 0;
    transform: translate(-200%, -50%);
  }
  &--current {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &--next {
    opacity: 0;
    transform: translate(100%, -50%);
  }
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__board {
    height: 45vh;
    width: 45vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  &__inputs {
    display: flex;
    margin: 50px;
    font-size: 3em;

    & button {
      margin: 25px;
    }
  }
}

.tile {
  width: 5vh;
  height: 5vh;
  font-size: 3vh;
  line-height: 5vh;
  text-align: center;
}
.game__inputs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.borderDown {
  border-bottom: 3px solid $color-primary;
}
.borderRight {
  border-right: 3px solid $color-primary;
}

.modeButtons svg {
  margin: 40px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
